.card-custom {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body-custom {
  padding: 1rem 1rem !important;
}

.time {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(55, 57, 51, 0.8);
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 9px 1px 9px;
  line-height: 14px;
  font-weight: 500;
}

.views {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(55, 57, 51, 0.8);
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 9px 1px 9px;
  line-height: 14px;
  font-weight: 500;
}

.image-section {
  border-radius: 2px;
  position: relative;
}

.thumbnail {
  border-radius: 4px;
}

.video-info {
  padding-left: 0;
}

.single-video {
  margin-bottom: 25px;
}