RewriteEngine On

Options -Indexes
Options +FollowSymlinks

RewriteRule ^admin/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/?$ index.php?main=$1&section=$2 [NC,QSA,L]
RewriteRule ^admin/([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/(.*)/?$ index.php?main=$1&section=$2&crumbs=$3 [NC,QSA,L]
RewriteRule ^admin/([A-Za-z0-9_-]+)\/?$ index.php?main=$1 [NC,QSA,L]
RewriteRule ^([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/?$ index.php?main=$1&section=$2 [NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([A-Za-z0-9_-]+)\/([A-Za-z0-9_-]+)\/(.*)/?$ index.php?main=$1&section=$2&crumbs=$3 [NC,QSA]
RewriteRule ^([A-Za-z0-9_-]+)\/?$ index.php?main=$1 [NC,QSA]