{% extends 'layout.html' %}

{% block content %}
<style type="text/css">
  .dropdown-menu li a {
    padding: 8px 15px;
    color: #5f5f5f;
    font-size: 14px;
    display: block;
  }
</style>

<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
    {% if message %}
      <div class="alert alert-success">{{message}}</div>
    {% endif %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}

    <!-- content here -->
    <div class="card">
      <div class="card-body">
        {% if action == 'list' %}
          <div class="dropdown float-right mr-2">
            <button class="btn btn-gradient-primary btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Bulk Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li class="bulk-actions" action="deactivate"><a href="#">Deactivate</a></li>
              <li class="bulk-actions" action="activate"><a href="#">Activate</a></li>
              <li class="divider"></li>
              <li class="bulk-actions" action="delete"><a href="#">Delete</a></li>
            </ul>
          </div>
          <h4 class="card-title">Categories Manager - List</h4>
          <p class="card-description mb-2">Total: {{total}}</p>
          {% if results %}
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="bulk-check-main custom-control-input" id="check-main" name="bulk[]">
                      <label class="custom-control-label mb-1" for="check-main"></label>
                    </div>
                  </th>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for category in results %}
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input bulk-check-sub" id="check-{{category.id}}" categoryid="{{category.id}}" {% if category.id == '1' %} disabled="true" {% endif %}>
                        <label class="custom-control-label custom-sub-check" for="check-{{category.id}}"></label>
                      </div>
                    </td>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td><label class="mt-2 badge badge-{% if category.status == 'active' %}success{% else %}danger{% endif %}">{{category.status}}</label></td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-gradient-primary btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Actions
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="{{_adminUrl}}/categories/edit/{{category.id}}">Edit</a></li>
                          {% if category.id != '1' %}
                            {% if category.status == 'active' %}
                              <li><a href="{{_adminUrl}}/categories/list/deactivate/{{category.id}}">Deactivate</a></li>
                            {% else %}
                              <li><a href="{{_adminUrl}}/categories/list/activate/{{category.id}}">Activate</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{_adminUrl}}/categories/list/delete/{{category.id}}">Delete</a></li>
                          {% endif %}
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          {% else %}
            <div class="alert alert-warning">No results found</div>
          {% endif %}
        {% elseif (action == 'create') or (action == 'edit') %}
          <h4 class="card-title mb-4">Categories Manager - Create</h4>
          <form class="form-sample" name="create-category" method="post">
          <div class="row">
            <div class="col-md-6">
              <label class="col-sm-3 col-form-label">Name</label>
              <div class="form-group row">
                <div class="col-sm-9">
                  <input type="text" name="name" class="form-control" placeholder="Category name" value="{{results.name}}">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="form-group row">
                <div class="col-sm-10">
                  <textarea name="description" class="form-control" rows="10" placeholder="Category code goes here">{{results.description}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="float-right">
            <button type="submit" {% if action == 'edit' %}name="edit"{%endif%} class="btn btn-gradient-primary btn-icon-text">
              <i class="mdi mdi-file-check btn-icon-prepend"></i>
              Submit
            </button>
          </div>
        </form>
        {% endif %}
        <form name="bulk-actions" id="bulk-actions" method="post" action="">
          <input type="hidden" id="bulk-action" name="bulk-action">
          <input type="hidden" id="bulk-keys" name="bulk-keys">
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    bulkActions('categoryid');
  });
</script>
{% endblock %}
