<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-5">Conversion Settings</h4>
    <form class="form-sample" name="general-settings" method="post" enctype="multipart/form-data">
      <h4 class="text-muted">General</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Video Qualities</label>
            <div class="col-sm-12">
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" name="quality_240" class="custom-control-input" {% if settings.quality_240 == 'yes' %}checked="checked"{% endif %} id="quality_240">
              <label for="quality_240" class="custom-control-label">240</label>
            </div>

            <!-- Default inline 2-->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" name="quality_360" class="custom-control-input" {% if settings.quality_360 == 'yes' %}checked="checked"{% endif %} id="quality_360">
              <label for="quality_360" class="custom-control-label">360</label>
            </div>

            <!-- Default inline 3-->
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" name="quality_480" class="custom-control-input" {% if settings.quality_480 == 'yes' %}checked="checked"{% endif %} id="quality_480">
              <label for="quality_480" class="custom-control-label">480</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" name="quality_720" class="custom-control-input" {% if settings.quality_720 == 'yes' %}checked="checked"{% endif %} id="quality_720">
              <label for="quality_720" class="custom-control-label">720</label>
            </div>

            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" name="quality_1080" class="custom-control-input" {% if settings.quality_1080 == 'yes' %}checked="checked"{% endif %} id="quality_1080">
              <label for="quality_1080" class="custom-control-label">1080</label>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Conversion Speed</label>
            <div class="col-sm-12">
              <select name="ffmpeg_preset" class="form-control">
                <option value="ultrafast" {% if settings.ffmpeg_preset == 'ultrafast' %}selected="selected"{% endif %}>ultrafast (Worst quality)</option>
                <option value="superfast" {% if settings.ffmpeg_preset == 'superfast' %}selected="selected"{% endif %}>superfast</option>
                <option value="veryfast" {% if settings.ffmpeg_preset == 'veryfast' %}selected="selected"{% endif %}>veryfast</option>
                <option value="faster" {% if settings.ffmpeg_preset == 'faster' %}selected="selected"{% endif %}>faster</option>
                <option value="fast" {% if settings.ffmpeg_preset == 'fast' %}selected="selected"{% endif %}>fast</option>
                <option value="medium" {% if settings.ffmpeg_preset == 'medium' %}selected="selected"{% endif %}>medium (Recomended)</option>
                <option value="slow" {% if settings.ffmpeg_preset == 'slow' %}selected="selected"{% endif %}>slow</option>
                <option value="veryslow" {% if settings.ffmpeg_preset == 'veryslow' %}selected="selected"{% endif %}>veryslow (Best Quality)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">PHP Path</label>
            <div class="col-sm-12">
              <input type="text" name="php" class="form-control" placeholder="/usr/bin/php" value="{{settings.php}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">FFMPEG Path</label>
            <div class="col-sm-12">
              <input type="text" name="ffmpeg" class="form-control" placeholder="/usr/bin/ffmpeg" value="{{settings.ffmpeg}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">FFPROBE Path</label>
            <div class="col-sm-12">
              <input type="text" name="ffprobe" class="form-control" placeholder="/usr/bin/ffprobe" value="{{settings.ffprobe}}" />
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-muted">Codecs</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Video</label>
            <div class="col-sm-12">
              <input type="text" name="video_codec" class="form-control" placeholder="Codec used for video" value="{{settings.video_codec}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Audio</label>
            <div class="col-sm-12">
              <input type="text" name="audio_codec" class="form-control" placeholder="Codec used for audio" value="{{settings.audio_codec}}" />
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-muted">Bitrates</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">240 Video</label>
            <div class="col-sm-12">
              <input type="text" name="basic_vbitrate" class="form-control" placeholder="Bitrate for extracting 240p video" value="{{settings.basic_vbitrate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">240 Audio</label>
            <div class="col-sm-12">
              <input type="text" name="basic_abitrate" class="form-control" placeholder="Bitrate for extracting 240p audio" value="{{settings.basic_abitrate}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">360 Video</label>
            <div class="col-sm-12">
              <input type="text" name="normal_vbitrate" class="form-control" placeholder="Bitrate for extracting 360p video" value="{{settings.normal_vbitrate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">360 Audio</label>
            <div class="col-sm-12">
              <input type="text" name="normal_abitrate" class="form-control" placeholder="Bitrate for extracting 360p audio" value="{{settings.normal_abitrate}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">480 Video</label>
            <div class="col-sm-12">
              <input type="text" name="sd_vbitrate" class="form-control" placeholder="Bitrate for extracting 480p video" value="{{settings.sd_vbitrate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">480 Audio</label>
            <div class="col-sm-12">
              <input type="text" name="sd_abitrate" class="form-control" placeholder="Bitrate for extracting 480p audio" value="{{settings.sd_abitrate}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">720 Video</label>
            <div class="col-sm-12">
              <input type="text" name="hd_vbitrate" class="form-control" placeholder="Bitrate for extracting 720 video" value="{{settings.hd_vbitrate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">720 Audio</label>
            <div class="col-sm-12">
              <input type="text" name="hd_abitrate" class="form-control" placeholder="Bitrate for extracting 720 audio" value="{{settings.hd_abitrate}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">1080 Video</label>
            <div class="col-sm-12">
              <input type="text" name="fullhd_vbitrate" class="form-control" placeholder="Bitrate for extracting 1080 video" value="{{settings.fullhd_vbitrate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">1080 Audio</label>
            <div class="col-sm-12">
              <input type="text" name="fullhd_abitrate" class="form-control" placeholder="Bitrate for extracting 1080 audio" value="{{settings.fullhd_abitrate}}" />
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-muted">Watermarking</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Enable Watermark</label>
            <div class="col-sm-12">
              <select name="enable_watermark" class="form-control">
                <option value="no" {% if settings.enable_watermark == 'no' %}selected="selected"{% endif %}>No</option>
                <option value="yes" {% if settings.enable_watermark == 'yes' %}selected="selected"{% endif %}>Yes</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Watermark Placement</label>
            <div class="col-sm-12">
              <select name="watermark_placement" class="form-control">
                <option value="left:top" {% if settings.watermark_placement == 'left:top' %}selected="selected"{% endif %}>Top Left</option>
                <option value="right:top" {% if settings.watermark_placement == 'right:top' %}selected="selected"{% endif %}>Top Right</option>
                <option value="center:top" {% if settings.watermark_placement == 'center:top' %}selected="selected"{% endif %}>Top Center</option>
                <option value="left:bottom" {% if settings.watermark_placement == 'left:bottom' %}selected="selected"{% endif %}>Bottom Left</option>
                <option value="right:bottom" {% if settings.watermark_placement == 'right:bottom' %}selected="selected"{% endif %}>Bottom Right</option>
                <option value="center:center" {% if settings.watermark_placement == 'center:center' %}selected="selected"{% endif %}>Center</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Watermark</label>
            <div class="custom-file col-sm-12">
              <input type="file" class="custom-file-input" name="watermark" id="custom-watermark">
              <label class="custom-file-label" for="custom-watermark">Select watermark</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Watermark Preview</label>
            <div class="col-sm-12">
              <img src="{{_coreUrl}}/media/watermark.png">
            </div>
          </div>
        </div>
      </div>
      <h4 class="text-muted">Pre, Post Clip</h4>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Enable Pre Clip</label>
            <div class="col-sm-12">
              <select name="enable_pre_clip" class="form-control">
                <option value="no" {% if settings.enable_pre_clip == 'no' %}selected="selected"{% endif %}>No</option>
                <option value="yes" {% if settings.enable_pre_clip == 'yes' %}selected="selected"{% endif %}>Yes</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Enable Post Clip</label>
            <div class="col-sm-12">
              <select name="enable_post_clip" class="form-control">
                <option value="no" {% if settings.enable_post_clip == 'no' %}selected="selected"{% endif %}>No</option>
                <option value="yes" {% if settings.enable_post_clip == 'yes' %}selected="selected"{% endif %}>Yes</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Pre Clip</label>
            <div class="custom-file col-sm-12">
              <input type="file" class="custom-file-input" name="pre_clip" id="custom-preclip">
              <label class="custom-file-label" for="custom-preclip">Select Preclip</label>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Existing Pre Clip</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" disabled="disabled" value="{{preClip}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Post Clip</label>
            <div class="custom-file col-sm-12">
              <input type="file" class="custom-file-input" name="post_clip" id="custom-postclip">
              <label class="custom-file-label" for="custom-postclip">Select Postclip</label>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Existing Post Clip</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" disabled="disabled" value="{{postClip}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="float-right">
        <button type="submit" name="settings" type="button" class="btn btn-gradient-primary btn-icon-text">
          <i class="mdi mdi-file-check btn-icon-prepend"></i>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>