{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
	<h4>Admin Dashboard</h4>
    {% for message in messages %}
      <div class="alert alert-success">{{message}}</div>
    {% endfor %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <div class="card" style="border-radius: 4px;margin-bottom: 10px;">
		  <div class="card-header">
		    BriskLimbs News
		  </div>
		  <div class="card-body" style="height: 250px; overflow-y: scroll;">
		    {% for content in news %}
		    	<blockquote class="blockquote">
			  	<h6 class="card-title">{{content.subject}}</h6>
			      <p>{{content.message}}</p>
			      <footer class="blockquote-footer">Published <cite title="Source Title">{{formatDate(content.published)}}</cite></footer>
			    </blockquote>
		    {% endfor %}
		  </div>
		</div>

    <div class="card">
    	<div class="card-header">
		    Statistics
		  </div>
  		<div class="card-body">
    		<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active" id="uploads-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Uploads</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="conversion-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Conversion</a>
				  </li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="uploads-tab">
				  	<div id="total-uploads" style="height: 300px; width: 100%;"></div>
				  	<div id="total-uploads-week" style="height: 300px; width: 100%;"></div>
				  	<div id="total-uploads-week-before" style="height: 300px; width: 100%;"></div>
				  	<div id="total-uploads-month" style="height: 300px; width: 100%;"></div>
				  	<div id="total-uploads-month-before" style="height: 300px; width: 100%;"></div>
				  </div>
				  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="conversion-tab">
				  	<div id="conversion-today" style="height: 300px; width: 100%;"></div>
				  	<div id="conversion-yesterday" style="height: 300px; width: 100%;"></div>
				  	<div id="conversion-last-week" style="height: 300px; width: 100%;"></div>
				  	<div id="conversion-before-last-week" style="height: 300px; width: 100%;"></div>
				  	<div id="conversion-last-month" style="height: 300px; width: 100%;"></div>
				  	<div id="conversion-before-last-month" style="height: 300px; width: 100%;"></div>
				  </div>
				</div>
    	</div>
  	</div>

  </div>
</div>
<script type="text/javascript" src="{{_coreUrl}}/skins/ivar/assets/js/canvasjs.min.js"></script>
<script type="text/javascript">
	window.onload = function () {
		var chart = new CanvasJS.Chart("total-uploads", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Uploads Comparison"
			},
			axisY: {
				title: "Uploads"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Uploads",
				dataPoints: [      
					{ y: {{stats.uploads.yesterday}}, label: "Yesterday" },
					{ y: {{stats.uploads.today}}, label: "Today" },
				]
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("total-uploads-week", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Uploads Last Week"
			},
			axisY: {
				title: "Uploads"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Uploads",
				dataPoints: {{stats.uploads.last_week|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("total-uploads-week-before", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Uploads Before Last Week"
			},
			axisY: {
				title: "Uploads"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Uploads",
				dataPoints: {{stats.uploads.before_last_week|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("total-uploads-month", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Uploads Last Month"
			},
			axisY: {
				title: "Uploads"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Uploads",
				dataPoints: {{stats.uploads.last_month|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("total-uploads-month-before", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Uploads Before Last Month"
			},
			axisY: {
				title: "Uploads"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Uploads",
				dataPoints: {{stats.uploads.before_last_month|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("conversion-today", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Conversions Today"
			},
			axisY: {
				title: "Total"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Conversions",
				dataPoints: {{stats.conversions.today|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("conversion-yesterday", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Conversions Yesterday"
			},
			axisY: {
				title: "Total"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Conversions",
				dataPoints: {{stats.conversions.yesterday|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("conversion-last-week", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Conversions Last Week"
			},
			axisY: {
				title: "Total"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Conversions",
				dataPoints: {{stats.conversions.last_week|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("conversion-before-last-week", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Conversions Before Last Week"
			},
			axisY: {
				title: "Total"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Conversions",
				dataPoints: {{stats.conversions.before_last_week|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("conversion-last-month", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Conversions Last Month"
			},
			axisY: {
				title: "Total"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Conversions",
				dataPoints: {{stats.conversions.last_month|raw}}
			}]
		});
		chart.render();

		var chart = new CanvasJS.Chart("conversion-before-last-month", {
			animationEnabled: true,
			theme: "light2", // "light1", "light2", "dark1", "dark2"
			title:{
				text: "Conversions Before Last Month"
			},
			axisY: {
				title: "Total"
			},
			data: [{        
				type: "column",  
				showInLegend: true, 
				legendMarkerColor: "grey",
				legendText: "Total Conversions",
				dataPoints: {{stats.conversions.before_last_month|raw}}
			}]
		});
		chart.render();

	}
</script>
<!-- content-wrapper ends -->
        
        
{% endblock %}
