{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
	<h4>Admin Dashboard</h4>
    {% for message in messages %}
      <div class="alert alert-success">{{message}}</div>
    {% endfor %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    
    <div class="card">
  		<div class="card-body">
    		<h4 class="card-title mb-5">Statistics</h4>
    		<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active" id="uploads-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Uploads</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="conversion-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Conversion</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id="registrations-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Registrations</a>
				  </li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="uploads-tab">a</div>
				  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="conversion-tab">b</div>
				  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="registrations-tab">c</div>
				</div>
    	</div>
  	</div>

  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<!-- content-wrapper ends -->
        
        
{% endblock %}
