{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
    {% if message %}
      <div class="alert alert-success">{{message}}</div>
    {% endif %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <div class="card">
      <center><iframe width="700" height="380" src="{{_coreUrl}}/embed/?key={{video.vkey}}&width=640" frameborder="0" allowfullscreen controls></iframe></center>
      <div class="card-body">
        <h4 class="card-title mb-5">Edit <a href="{{_coreUrl}}/watch/{{video.vkey}}" target="_blank">{{video.title}}</a></h4>
        <form class="form-sample" name="edit-video" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Title</label>
                <div class="col-sm-12">
                  <input type="text" name="title" class="form-control" placeholder="Website title" value="{{video.title}}" />
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">State</label>
                <div class="col-sm-12">
                  <select name="state" class="form-control">
                    <option value="active" {% if video.state == 'active' %}selected="selected"{% endif %}>Active</option>
                    <option value="inactive" {% if video.state == 'inactive' %}selected="selected"{% endif %}>Inactive</option>
                    <option value="disabled" {% if video.state == 'disabled' %}selected="selected"{% endif %}>Disabled</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label">Scope</label>
                <div class="col-sm-12">
                  <select name="scope" class="form-control">
                    <option value="public" {% if video.scope == 'public' %}selected="selected"{% endif %}>Public</option>
                    <option value="private" {% if video.scope == 'private' %}selected="selected"{% endif %}>Private</option>
                    <option value="unlist" {% if video.scope == 'unlist' %}selected="selected"{% endif %}>Unlist</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label">Status</label>
                <div class="col-sm-12">
                  <select name="status" class="form-control">
                    <option value="successful" {% if video.status == 'successful' %}selected="selected"{% endif %}>Successful</option>
                    <option value="pending" {% if video.status == 'pending' %}selected="selected"{% endif %}>Pending</option>
                    <option value="failed" {% if video.status == 'failed' %}selected="selected"{% endif %}>Failed</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Description</label>
                <div class="col-sm-12">
                  <textarea name="description" class="form-control" rows="6" placeholder="Website description here"/>{{video.description}}</textarea>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Tags</label>
                <div class="col-sm-12">
                  <input type="text" name="tags" class="form-control" placeholder="Video tags" value="{{video.tags}}" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Published</label>
                <div class="col-sm-12">
                  <input type="date" name="date" class="form-control" placeholder="Publish date" value="{{video.date|slice(0,10)}}" />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Views</label>
                <div class="col-sm-12">
                  <input type="number" name="views" class="form-control" placeholder="Views" value="{{video.views}}" />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Comments</label>
                <div class="col-sm-12">
                  <select name="allow_comments" class="form-control">
                    <option value="1" {% if video.allow_comments == '1' %}selected="selected"{% endif %}>Yes</option>
                    <option value="0" {% if video.allow_comments == '0' %}selected="selected"{% endif %}>No</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Custom Thumbnail</label>
                <div class="alert alert-info">Unlike regular thumbnails, custom thumbnails are not resized and are displayed exactly the same across all devices and screen sizes</div>
                <div class="col-sm-12">
                  <input type="file" name="default-thumbnail" class="form-control">
                </div>
              </div>
            </div> -->
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Categories</label>
                <div class="col-sm-12">
                  {% for category in categories %}
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" name="category[]" value="{{category.id}}" class="custom-control-input" {% if category.name in video.categoryNames %}checked="checked"{% endif %} id="cat_{{category.name}}">
                      <label for="cat_{{category.name}}" class="custom-control-label">{{category.name}}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="float-right">
            <button type="submit" type="button" class="btn btn-gradient-primary btn-icon-text">
              <i class="mdi mdi-file-check btn-icon-prepend"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
