{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
    <div id="success-messages" class="alert alert-success" style="display: none"></div>
    <div id="error-messages" class="alert alert-danger" style="display: none"></div>
    {% if message %}
      <div class="alert alert-success">{{message}}</div>
    {% endif %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-5">Edit {{section}} <span id="sub-section"></span></h4>
        <div class="col-md-3 float-right">
          <button id="load-btn" class="btn btn-gradient-default btn-icon-text" style="margin-top: 48px" main={{section}} item={% if selectedItem %}{{selectedItem}}{% else %}{{items|first}}{% endif %}>
            <i class="mdi mdi-file-check btn-icon-prepend"></i>Load
          </button>
          <ul id="files-list" class="list-group mt-3" style="cursor: pointer">
            {% for name,path in subItems %}
              <li class="list-group-item load-file" path="{{path}}">{{name}}</li>
            {% endfor %}
          </ul>
        </div>
        <form class="form-sample col-md-9" name="edit-video" method="post">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Section</label>
                <div class="col-sm-12">
                  <select id="section" name="section" class="form-control" disabled="disabled">
                    <option value="addons" {% if section == 'addons' %}selected="selected"{% endif %}>Addons</option>
                    <option value="skins" {% if section == 'skins' %}selected="selected"{% endif %}>Skins</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Item</label>
                <div class="col-sm-12">
                  <select id="selected-item" name="section" class="form-control">
                    {% for item,path in items %}
                      <option value="{{path}}" name="{{item}}">{{item}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-2">
                <span class="editing-file-div" style="display: none; margin-bottom: 4px;">Editing: <span id="editing-file"></span></span>
              </div>
              <textarea name="code" class="form-control" id="code-section">Nothing to do here</textarea>
              <div class="mt-2 float-right">
                <button id="save-btn" type="submit" type="button" class="btn btn-gradient-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    function startEditorRequest() {
      $('#files-list, #section, #selected-item, #code-section, #save-btn, #load-btn').attr('disabled', true);
      $('#load-btn').text('Loading...');
    }

    function endEditorRequest() {
      $('#files-list, #section, #selected-item, #code-section, #save-btn, #load-btn').attr('disabled', false);
      $('#load-btn').text('Load');
      $('#sub-section').text(': ' + $('#selected-item option:selected').attr('name'));
    }

    var path = '{{subItems|first}}';
    var editor = ace.edit("code-section", {
      theme: "ace/theme/monokai",
      mode: "ace/mode/php",
      maxLines: 30,
      minLines: 10,
      wrap: true,
      autoScrollEditorIntoView: true
    });

    $('#load-btn').on('click', function(e) {
      e.preventDefault();
      startEditorRequest();

      var path = $('#selected-item').val(),
      paramters = {list: path};

      $.post('admin/editor/', paramters, function (response) {
        var response = $.parseJSON(response);
        if (response.status == 'success') {
          editor.session.setValue(response.code);
          $('#files-list').html('');
          $.each(response.contents, function(name, path) {
            $('#files-list').append('<li class="list-group-item load-file" path="' + path + '">' + name + '</li>');
          });
        } else {
          $('#error-messages').text(response.message);
        }

        endEditorRequest();
        $('.editing-file-div').hide();
      });
    });

    $(document).on('click', '.load-file', function(e) {
      e.preventDefault();
      startEditorRequest();

      var path = $(this).attr('path'),
      paramters = {file: path};
      
      $.post('admin/editor/', paramters, function (response) {
        var response = $.parseJSON(response);
        if (response.status == 'success') {
          $('#editing-file').text(path);
          $('.editing-file-div').fadeIn('slow');
          editor.session.setValue(response.code);
          editor.session.setMode("ace/mode/" + path.substr((path.lastIndexOf('.') +1)));
        } else {
          $('#error-messages').text(response.message);
        }

        endEditorRequest();
      });
    });

    $('#save-btn').on('click', function(e) {
      e.preventDefault();
      startEditorRequest();

      var code = editor.getSession().getValue();
      paramters = {file: $('#editing-file').text(), code: code};

      $.post('admin/editor/', paramters, function (response) {
        var response = $.parseJSON(response);
        if (response.status == 'success') {
          $('#success-messages').text(response.message).fadeIn('slow');
        } else {
          $('#error-messages').text(response.message);
        }

        endEditorRequest();
      });
    })
  });
</script>


{% endblock %}
