{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
    {% if message %}
      <div class="alert alert-success">{{message}}</div>
    {% endif %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-5">Edit User <a href="{{_coreUrl}}/channel/?name={{user.username}}" target="_blank">{{user.username}}</a></h4>
        <form class="form-sample" name="edit-user" method="post">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Username</label>
                <div class="col-sm-12">
                  <input type="text" name="username" class="form-control" placeholder="Username" value="{{user.username}}" disabled="disabled" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Email</label>
                <div class="col-sm-12">
                  <input type="text" name="email" class="form-control" placeholder="Email" value="{{user.email}}"/>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label">Status</label>
                <div class="col-sm-12">
                  <select name="status" class="form-control">
                    <option value="ok" {% if user.status == 'ok' %}selected="selected"{% endif %}>Ok</option>
                    <option value="inactive" {% if user.status == 'inactive' %}selected="selected"{% endif %}>Inactive</option>
                    <option value="pending" {% if user.status == 'pending' %}selected="selected"{% endif %}>Pending</option>
                    <option value="banned" {% if user.status == 'banned' %}selected="selected"{% endif %}>Banned</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-8 col-form-label">Level</label>
                <div class="col-sm-12">
                  <select name="level" class="form-control">
                    <option value="1" {% if user.level == '1' %}selected="selected"{% endif %}>Admin</option>
                    <option value="5" {% if user.level != '1' %}selected="selected"{% endif %}>Regular</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Bio</label>
                <div class="col-sm-12">
                  <textarea name="bio" class="form-control" rows="6" placeholder="User bio here"/>{{user.bio}}</textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Signed Up</label>
                <div class="col-sm-12">
                  <input type="date" name="date" class="form-control" placeholder="Signup date" value="{{user.date|slice(0,10)}}" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Date of Birth</label>
                <div class="col-sm-12">
                  <input type="date" name="dob" class="form-control" placeholder="{{user.username}}'s date of birth" value="{{user.dob|slice(0,10)}}" />
                </div>
              </div>
            </div>
          </div>

          <div class="float-right">
            <button type="submit" type="button" class="btn btn-gradient-primary btn-icon-text">
              <i class="mdi mdi-file-check btn-icon-prepend"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
