<!DOCTYPE html>
<html lang="en">
<head>
  {% for action in _triggers.head_start %}
    {{hook(action)}}
  {% endfor %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{_title}}</title>
  <link rel="stylesheet" href="{{_coreUrl}}/skins/ivar/assets/css/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{{_coreUrl}}/skins/ivar/assets/css/style.css">
  <link rel="stylesheet" href="{{_coreUrl}}/skins/ivar/assets/css/custom.css">
  <link rel="stylesheet" href="{{_coreUrl}}/skins/ivar/assets/css/red.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{_coreUrl}}/skins/ivar/assets/images/favicon.png" />
  <script type="text/javascript" src="{{_coreUrl}}/skins/ivar/assets/js/jquery-3.3.1.min.js"></script>
  {% for action in _triggers.head_end %}
    {{hook(action)}}
  {% endfor %}
</head>

{% for action in _triggers.body_before %}
  {{hook(action)}}
{% endfor %}
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% for action in _triggers.navbar_before %}
      {{hook(action)}}
    {% endfor %}
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{{_coreUrl}}/admin/index"><img src="{{_coreUrl}}/skins/ivar/assets/images/logo.svg" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{{_coreUrl}}/admin/index"><img src="{{_coreUrl}}/skins/ivar/assets/images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field d-none d-md-block">
          <form class="d-flex align-items-center h-100" action="{{_adminUrl}}/videos/">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>                
              </div>
              <input type="text" name="keyword" class="form-control bg-transparent border-0" placeholder="Search videos">
              <input type="hidden" name="advanced-search">
            </div>
          </form>
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item"><a href="{{_coreUrl}}" target="_blank"><button class="btn btn-gradient-primary btn-primary">Frontend</button></a></li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="{{_auth.avatar}}" alt="image">
                  <span class="availability-status online"></span>             
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{_auth.username}}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="{{_adminUrl}}/settings">
                  <i class="mdi mdi-cached mr-2 text-success"></i>
                  Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{_coreUrl}}/signout">
                  <i class="mdi mdi-logout mr-2 text-primary"></i>
                  Signout
                </a>
              </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    {% for action in _triggers.navbar_after %}
      {{hook(action)}}
    {% endfor %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item {% if mainSection == 'dashboard' %}active{% endif %}">
              <a class="nav-link" href="{{_adminUrl}}/index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
          <li class="nav-item {% if mainSection == 'videos' %}active{% endif %}">
            <a class="nav-link" id="videos-section" data-toggle="collapse" href="#videos" aria-expanded="{% if (mainSection == 'videos') or (mainSection == 'edit') %}true{% else %}false{% endif %}" aria-controls="videos">
              <span class="menu-title">Videos</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-video menu-icon"></i>
            </a>
            <div class="collapse {% if (mainSection == 'videos') or (mainSection == 'edit') %}show{% endif %}" id="videos">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=all">List</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=featured">Featured</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=trending">Trending</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=active">Active</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=inactive">Inactive</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=successful">Successful</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=pending">Pending</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/videos/?list=failed">Failed</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if mainSection == 'users' %}active{% endif %}">
            <a class="nav-link" id="users-section" data-toggle="collapse" href="#users" aria-expanded="{% if mainSection =='users' %}true{% else %}false{% endif %}" aria-controls="users">
              <span class="menu-title">Users</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
            <div class="collapse {% if mainSection =='users' %}show{% endif %}" id="users">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/users/?list=all">List</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/users/?list=active">Active</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/users/?list=inactive">Inactive</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/users/?list=banned">Banned</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if mainSection == 'settings' %}active{% endif %}">
            <a class="nav-link" id="settings-section" data-toggle="collapse" href="#settings" aria-expanded="{% if mainSection =='settings' %}true{% else %}false{% endif %}" aria-controls="settings">
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-settings menu-icon"></i>
            </a>
            <div class="collapse {% if mainSection =='settings' %}show{% endif %}" id="settings">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/settings">General</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/settings/?type=conversion">Conversion</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/settings/?type=email">Email</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if mainSection == 'categories' %}active{% endif %}">
            <a class="nav-link" id="categories-section" data-toggle="collapse" href="#categories" aria-expanded="{% if mainSection =='categories' %}true{% else %}false{% endif %}" aria-controls="categories">
              <span class="menu-title">Categories</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi mdi-briefcase menu-icon"></i>
            </a>
            <div class="collapse {% if mainSection =='categories' %}show{% endif %}" id="categories">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/categories/?action=create">Create</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/categories/?action=list">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if mainSection == 'ads' %}active{% endif %}">
            <a class="nav-link" id="ads-section" data-toggle="collapse" href="#ads" aria-expanded="{% if mainSection =='ads' %}true{% else %}false{% endif %}" aria-controls="ads">
              <span class="menu-title">Ads</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi mdi-briefcase menu-icon"></i>
            </a>
            <div class="collapse {% if mainSection =='ads' %}show{% endif %}" id="ads">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/ads/?action=create">Create</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/ads/?action=list">List</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item {% if mainSection == 'skins' %}active{% endif %}">
            <a class="nav-link" id="skins-section" data-toggle="collapse" href="#skins" aria-expanded="{% if mainSection =='skins' %}true{% else %}false{% endif %}" aria-controls="skins">
              <span class="menu-title">Skins</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-wrench menu-icon"></i>
            </a>
            <div class="collapse {% if mainSection =='skins' %}show{% endif %}" id="skins">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/skinsManager/?list=all">List</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/editor/?main=skins">Editor</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item {% if mainSection == 'addons' %}active{% endif %}">
            <a class="nav-link" id="addons-section" data-toggle="collapse" href="#addons" aria-expanded="{% if mainSection =='addons' %}true{% else %}false{% endif %}" aria-controls="addons">
              <span class="menu-title">Addons</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-wrench menu-icon"></i>
            </a>
            <div class="collapse {% if mainSection =='addons' %}show{% endif %}" id="addons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/addons/?list=all">List</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/addons/?list=active">Active</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/addons/?list=inactive">Inactive</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{_adminUrl}}/editor/?main=addons">Editor</a></li>
              </ul>
            </div>
          </li>

          {% for menu,contents in _addons.admin_menu %}
            <li class="nav-item {% if mainSection == menu %}active{% endif %}">
              <a class="nav-link" id="{{menu}}-section" data-toggle="collapse" href="#{{menu}}" aria-expanded="{% if mainSection == menu %}true{% else %}false{% endif %}" aria-controls="addons">
                <span class="menu-title">
                  {% if contents.display_name %}
                    {{contents.display_name}}
                  {% else %}
                    {{menu}}
                  {% endif %}
                </span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
              {% if contents.sub %}
                <div class="collapse {% if mainSection == menu %}show{% endif %}" id="{{menu}}">
                  <ul class="nav flex-column sub-menu">
                    {% for name,link in contents.sub %}
                      {% if '://' in link %}
                        <!-- skip changing direct link e.g google.com -->
                      {% else %}
                        <!-- This section is not actual link but filepath. Convert -->
                        {% set link = _adminUrl ~ '/page/?path=' ~ link %}
                      {% endif %}
                      <li class="nav-item"> <a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        {% block content %}

        {% endblock %}

        {% for action in _triggers.footer_before %}
          {{hook(action)}}
        {% endfor %}
        <footer class="footer">
          {% for action in _triggers.footer_start %}
            {{hook(action)}}
          {% endfor %}
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://github.com/briskLimbs" target="_blank">BriskLimbs</a>. All rights reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">UI by BootstrapDash</span>
          </div>
          <script type="text/javascript" src="{{_coreUrl}}/skins/ivar/assets/js/popper.min.js"></script>
          <script type="text/javascript" src="{{_coreUrl}}/skins/ivar/assets/js/bootstrap.min.js"></script>
          {% for action in _triggers.footer_end %}
            {{hook(action)}}
          {% endfor %}
        </footer>
         {% for action in _triggers.footer_after %}
          {{hook(action)}}
        {% endfor %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function bulkActions(identifier) {
      $('.bulk-check-main').on('click', function() {
        var mainMode = (this.checked ? "check" : "uncheck");
        $('input[type=checkbox]').each(function () {
          var subMode = (this.checked ? "check" : "uncheck");
          if (mainMode != subMode) {
            $(this).trigger('click');
          }
        });
      });

      $('.bulk-actions').on('click', function(e) {
        e.preventDefault();
        $('#bulk-action').val($(this).attr('action'));

        var allkeys = '';
        $('input[type=checkbox]').each(function () {
          var checked = (this.checked ? true : false);
          if (this.checked) {
            allkeys += $(this).attr(identifier) + ',';
          }
        });

        $('#bulk-keys').val(allkeys);
        $('#bulk-actions').submit();
      });
    }
  </script>
</body>
{% for action in _triggers.body_after %}
  {{hook(action)}}
{% endfor %}

</html>
