{% extends 'layout.html' %}

{% block content %}
<style type="text/css">
  .channel-profile img.cover{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
  }

  .channel-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 10%; 
  }

  @media (max-width:768px) {
      
  .channel-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .channel-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
  }
</style>
<div class="content-wrapper bg-light">
  <div class="row">
    {% if page < 2 %}
      <div class="container-fluid">
        <div class="channel-profile">
          <img align="left" class="cover" src="{{user.cover}}" />
          <img align="left" class="channel-image-profile thumbnail" src="{{user.avatar}}" alt="Profile image example"/>
          <div class="channel-profile-text">
              <h2>{{user.username|title}}</h2>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="col-lg-9 col-xs-12 col-sm-12">
      <!-- {% if ad %}
        <div class="text-center">
          {% if ad.content == 'default' %}
            <img class="mb-2" src="{{_coreUrl}}/media/defaults/ads/728x90.png" title="ad">
          {% else %}
            {{ad.content|raw}}
          {% endif %}
        </div>
      {% endif %} -->
      <h4 class="mt-3">Uploads by {{user.username}}</h4>
      {% if results %}
        <div class="row">
          {% for video in results %}
            {{ include('bricks/trending.html') }}
          {% endfor %}
        </div>
        {% if next %}
          <div class="clearfix">
            <div class="text-center">
              <a href="{{_coreUrl}}/channel/?name={{user.username}}&page={{next}}"><button class="btn btn-primary btn-gradient-primary">Show More</button></a>
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="text-center"><div class="col-md-6 alert alert-warning">No videos found</div></div>
      {% endif %}
    </div>
    <div class="right-side col-lg-3 col-xs-12 col-sm-12">
      <div class="mb-2 video-title">Trending</div>
      <div class="box-shadow">
        {% for video in trending %}
          {% if loop.index == 3 %}
            {% if sidebarAd %}
              {% if sidebarAd.content == 'default' %}
                <img class="mb-2" src="{{_coreUrl}}/media/defaults/ads/300x250.png" title="ad">
              {% else %}
                {{sidebarAd.content|raw}}
              {% endif %}
            {% endif %}
          {% endif %}
          <div class="sidebar-video row">
            <div class="col-lg-6 col-sm-6">
              <div class="image-section">
                <a href="{{_coreUrl}}/watch/{{video.vkey}}"><img class="thumbnail" src="{{video.thumbnail}}" width="100%" alt="" onerror="this.src = '{{_mediaUrl}}/defaults/thumbnail.png';"></a>
                <div class="time">{{formatDuration(video.duration)}}</div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 video-info">
              <a href="{{_coreUrl}}/watch/{{video.vkey}}">{{video.title}}</a>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">by <a class="text-muted" href="{{_coreUrl}}/channel/?name={{video.uploader_name}}">{{video.uploader_name}}</a></small>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{video.views|number_format}} views</small>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          {% if loop.length < 3 %}
            {% if loop.last %}
              {% if sidebarAd %}
                {% if sidebarAd.content == 'default' %}
                  <img class="mb-2" src="{{_coreUrl}}/media/defaults/ads/300x250.png" title="ad">
                {% else %}
                  {{sidebarAd.content|raw}}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
