{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="signin-errors">
          {% if message %}
            <div class="alert alert-success">{{message}}</div>
          {% endif %}

          {% for error in _errors %}
            <div class="alert alert-danger">{{error}}</div>
          {% endfor %}
        </div>
      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title mb-5">Contact {{settings.title}}</h4>
          <form class="form-sample" name="contact-form" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Name</label>
                  <div class="col-sm-12">
                    <input type="text" name="name" class="form-control" placeholder="Enter your name" required="true" value="{{response.name}}">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Email</label>
                  <div class="col-sm-12">
                    <input type="email" name="email" class="form-control" placeholder="name@test.com" required="true" value="{{response.email}}">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Country</label>
                  <div class="col-sm-12">
                    <input type="text" name="country" class="form-control" placeholder="Where are you from?" required="true" value="{{response.country}}">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Reason</label>
                  <div class="col-sm-12">
                    <input type="text" name="reason" class="form-control" placeholder="Enter reason for contact" required="true" value="{{response.reason}}">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Message</label>
                  <div class="col-sm-12">
                    <textarea name="message" class="form-control" rows="6" placeholder="Please be as descriptive as possible to speed up desired results" required="true" value="{{response.message}}"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="float-right">
              <button type="submit" name="contact-form" class="btn btn-gradient-primary btn-icon-text">
                <i class="mdi mdi-file-check btn-icon-prepend"></i>
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
