{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="signin-errors">
          {% for message in messages %}
            <div class="alert alert-success">{{message}}</div>
          {% endfor %}

          {% for error in _errors %}
            <div class="alert alert-danger">{{error}}</div>
          {% endfor %}
        </div>
      <div class="card card-outline-secondary">
        {% if code %}
          <div class="card-body">
            <h3 class="mb-5">Reset Password</h3>
            {% if restCodeExists %}
              <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
                <div class="form-group">
                  <label for="user">New password</label>
                  <input type="password" class="form-control" name="password" placeholder="Please enter your new password" required="">
                </div>
                <button type="submit" class="btn btn-gradient-primary btn-lg float-right">Save</button>
              </form>
            {% endif %}
          </div>
        {% else %}
          <div class="card-body">
            <h3 class="mb-5">Forgot Password</h3>
            <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
              <div class="form-group">
                <label for="user">Username or Email</label>
                <input type="text" class="form-control" name="user" placeholder="Please enter your username or email" value="{{postFields.user}}" required="">
                <div class="invalid-feedback">Please enter your username or email</div>
              </div>
              <button type="submit" class="btn btn-gradient-primary btn-lg float-right">Request Reset</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
