{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  {% if ad %}
    <div class="text-center">
      {% if ad.content == 'default' %}
        <img class="img-fluid mb-2" src="{{_coreUrl}}/media/defaults/ads/728x90.png" title="ad">
      {% else %}
        {{ad.content|raw}}
      {% endif %}
    </div>
  {% endif %}
  <h4>Featured</h4>
  {% if featured %}
    <div class="row">
      {% for video in featured %}
        {{ include('bricks/trending.html') }}
      {% endfor %}
    </div>
  {% else %}
    <div class="text-center"><div class="col-md-6 alert alert-warning">No videos found</div></div>
  {% endif %}
  <h4>Trending</h4>
  {% if trending %}
    <div class="row">
      {% for video in trending %}
        {{ include('bricks/trending.html') }}
      {% endfor %}
    </div>
  {% else %}
    <div class="text-center"><div class="col-md-6 alert alert-warning">No videos found</div></div>
  {% endif %}

  <h4>Fresh</h4>
  {% if fresh %}
    <div class="row">
      {% for video in fresh %}
        {{ include('bricks/video.html') }}
      {% endfor %}
    </div>
    <div class="text-center">
      <a href="{{_coreUrl}}/browse"><div class="mb-3 btn btn-gradient-primary">Browse</div></a>
    </div>
  {% else %}
    <div class="text-center"><div class="col-md-6 alert alert-warning">No videos found</div></div>
  {% endif %}

</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
