{% extends "layout.html" %}

{% block content %}
<main role="main">

  <div class="album py-5 bg-light container">
    {% if ad %}
      <div class="col-lg-4 col-md-4 d-none d-md-block float-right">
        {% if ad.content == 'default' %}
          <img src="{{_coreUrl}}/media/defaults/ads/300x600.png" title="ad">
        {% else %}
          {{ad.content|raw}}
        {% endif %}
      </div>
    {% endif %}
    
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12"> 
      <div class="mb-4 box-shadow">
        {% if results %}
          {% for video in results%}
            <div class="sidebar-video row">
              <div class="col-lg-4 col-sm-8">
                <div class="image-section">
                  <a href="{{_coreUrl}}/watch/{{video.vkey}}"><img class="thumbnail" src="{{video.thumbnail}}" width="100%" alt="" onerror="this.src = '{{_mediaUrl}}/defaults/thumbnail.png';"></a>
                  <div class="time">{{formatDuration(video.duration)}}</div>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 video-info mb-1">
                <a href="{{_coreUrl}}/watch/{{video.vkey}}">{{video.title}}</a>
                <div class="d-flex justify-content-between mb-1 mt-1 align-items-center">
                  <small class="text-muted">by {{video.uploader_name}}</small>
                </div>
                <div class="d-flex justify-content-between mb-1 align-items-center">
                  <small class="text-muted">{{video.views}} views</small>
                </div>
                <div class="d-flex justify-content-between mb-1 align-items-center">
                  <small class="text-muted">{{formatDate(video.date)}}</small>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{video.description}}</small>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          {% endfor %}
          {% if next %}
            <div class="text-center">
              <a href="?keyword={{keyword}}&page={{next}}"><button class="btn btn-primary btn-gradient-primary">Show More</button></a>
            </div>
          {% endif %}
        {% else %}
          <div class="alert alert-warning">No results found</div>
        {% endif %}
      </div>
      
    </div>
  </div>

</main>
{% endblock %}