{% extends 'layout.html' %}

{% block content %}

<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{message}}</div>
      {% endfor %}
    {% endif %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-5">General Settings</h4>
        <form class="form-sample" name="general-settings" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" name="email" class="form-control" placeholder="Your email" value="{{user.email}}" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">DOB</label>
                <div class="col-sm-9">
                  <input type="date" name="dob" class="form-control" placeholder="Your date of birth" value="{{user.dob|slice(0,10)}}" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Bio</label>
                <div class="col-sm-12">
                  <textarea name="bio" class="form-control" rows="6" placeholder="Your bio here"/>{{user.bio}}</textarea>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Current Password</label>
                <div class="col-sm-9">
                  <input type="password" name="password" class="form-control" placeholder="****" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">New Password</label>
                <div class="col-sm-9">
                  <input type="password" name="new_password" class="form-control" placeholder="****" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                  <input type="password" name="confirm_password" class="form-control" placeholder="****" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Profile Picture</label>
                <div class="col-sm-6 col-md-4">
                  <img src="{{_auth.avatar}}" width="100" height="100">
                  <div class="custom-file mt-2">
                    <input type="file" class="custom-file-input" name="avatar" id="custom-avatar">
                    <label class="custom-file-label" for="custom-avatar">Select Avatar</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Channel Cover</label>
                <div class="col-sm-6 col-md-4">
                  <img src="{{_auth.cover}}" width="200">
                  <div class="custom-file mt-2">
                    <input type="file" class="custom-file-input" name="cover" id="custom-cover">
                    <label class="custom-file-label" for="custom-cover">Select Cover</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="float-right">
            <button type="submit" type="button" class="btn btn-gradient-primary btn-icon-text">
              <i class="mdi mdi-file-check btn-icon-prepend"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
