{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{_cssUrl}}/upload.css">

<div class="content-wrapper bg-light">
  <div id="edit-upload-details" style="display: none">
    <div class="col-md-6 offset-md-3">
      <div id="upload-messages" class="alert"></div>
      <div class="progress mb-1" style="height: 15px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
      <div class="card card-outline-secondary">
        <div class="card-body">
          <h3 class="mb-5">Edit Video</h3>
          <form class="form" role="form" autocomplete="off" id="upload-video-form" novalidate="" method="POST">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" placeholder="Title of video" required>
              <div class="invalid-feedback">Video title is required</div>
            </div>
            <div class="form-group">
              <label for="title">Description</label>
              <textarea class="form-control" name="description" id="description" placeholder="Description of video" rows="5" required></textarea>
              <div class="invalid-feedback">Video title is required</div>
            </div>
            <button type="submit" class="btn btn-info btn-lg float-right" id="finish-upload" disabled="disabled">Uploading..</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div class="container" id="upload-section" uploadUrl="{{_coreUrl}}/upload">
      <div class="row">
        <div class="col-lg-12 upload-page">
          <div>
            <form action="#" method="post">
              <input type="file" name="selectedFile" id="selectedFile" style="display: none">
              <div class="text-center" id="upload-file">
                <p>{{settings.upload_message}}</p>
                <button type="button" class="btn btn-gradient-primary btn-icon-text">
                  <i class="mdi mdi-upload btn-icon-prepend"></i>                                                    
                  Upload Video
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- content-wrapper ends -->
        
        
{% endblock %}
