{% extends 'layout.html' %}

{% block content %}
    
<div class="content-wrapper bg-light">
  <div class="col-12 grid-margin">
    {% if message %}
      <div class="alert alert-success">{{message}}</div>
    {% endif %}

    {% for error in _errors %}
      <div class="alert alert-danger">{{error}}</div>
    {% endfor %}
    <!-- content here -->
    <style type="text/css">
    	.dropdown-menu li a {
		    padding: 8px 15px;
		    color: #5f5f5f;
		    font-size: 14px;
		    display: block;
			}

			.table th img, .table td img {
				width: 100px !important;
				height: auto !important;
				border-radius: 2px !important;
			}
    </style>
    {% set paginationBase = "?list=" ~ subSection|lower %}
    {% set urlBase = paginationBase ~ "&page=" ~ pagination.current %}
    <div class="col-12 grid-margin">
      <div class="card" id="advanced-search-section" style="display: none">
        <div class="card-body">
          <h4 class="card-title">Advanced Video Search</h4>
          <form class="form-sample" action="{{urlBase}}">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Keyword</label>
                  <div class="col-sm-9">
                    <input type="text" name="keyword" class="form-control" value="{% if srch_keyword %}{{srch_keyword}}{% endif %}" placeholder="Eminem's Venom">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" name="title" class="form-control" value="{% if srch_title %}{{srch_title}}{% endif %}" placeholder="Matt Murdock Meets Frank Castle">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Duration</label>
                  <div class="col-sm-9">
                    <input type="text" name="duration" class="form-control" value="{% if srch_duration %}{{srch_duration}}{% endif %}" placeholder="={duration} or >{duration} or <{duration}">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Views</label>
                  <div class="col-sm-9">
                    <input type="text" name="views" class="form-control" value="{% if srch_views %}{{srch_views}}{% endif %}" placeholder="={views} or >{views} or <{views}">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Published</label>
                  <div class="col-sm-9">
                    <input type="text" name="published" class="form-control" value="{% if srch_published %}{{srch_published}}{% endif %}" placeholder="={yyyy-mm-dd} or >{yyyy-mm-dd} or <{yyyy-mm-dd}">
                  </div>
                </div>
              </div>
            </div>
            <div class="float-right">
            <button type="submit" name="advanced-search" type="button" class="btn btn-gradient-primary btn-icon-text">
              <i class="mdi mdi-file-check btn-icon-prepend"></i>
              Submit
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
      	<button id="advanced-search" class="btn btn-primary btn-gradient-primary float-right">Advanced Search</button>

        <h4 class="card-title">Videos Manager ({{subSection}})</h4>
        <p class="card-description mb-2">Listing: {{start}} - {{end}} / {{total}}</p>
          {% if results %}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Thumbnail</th>
                  <th>Title</th>
                  <th>Views</th>
                  <th>Published</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
            {% for video in results %}
	            <tr>
	              <td>{{video.id}}</td>
	              <td><a href="{{_coreUrl}}/watch/{{video.vkey}}" target="_blank"><img src="{{video.thumbnail}}" alt="{{video.title}}" onerror="this.src = '{{_mediaUrl}}/defaults/thumbnail.png';"></a></td>
	              <td>
	              	{{video.title}}
	              	<span class="clearfix"></span>
	              	<label class="badge badge-gradient-dark mt-2">{{formatDuration(video.duration)}}</label>
	              	<label class="badge badge-{% if video.status == 'successful'%}success{% elseif video.status == 'pending' %}warning{% else %}danger{% endif %}" title="{% if video.status == 'successful'%}{{video.qualities}}{% endif %}">{{video.status|title}}</label>
	              	<label class="badge badge-{% if video.state == 'active' %}success{% elseif video.state == 'inactive' %}warning{% else %}danger{% endif %}">{{video.state|title}}</label>
	              </td>
	              <td>{{video.views|number_format}}</td>
	              <td><label class="badge badge-default" title="{{video.date}}">{{formatDate(video.date)}}</label></td>
	              <td>
	              	<div class="dropdown">
						        <button class="btn btn-gradient-primary btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						          Actions
						          <span class="caret"></span>
						        </button>
						        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      {% for action in _triggers.user_videos_actions_top %}
                        {% if action is iterable %}
                          {{hook(action|keys|first, video[action|first])}}
                        {% else %}
                          {{hook(action, video.vkey)}}
                        {% endif %}
                      {% endfor %}
						        	{% if video.state == 'active' %}
						          	<li><a href="{{urlBase}}&deactivate={{video.vkey}}">Deactivate</a></li>
						          {% else %}
							          <li><a href="{{urlBase}}&activate={{video.vkey}}">Activate</a></li>
						        	{% endif %}
						          <li><a href="{{_coreUrl}}/edit/{{video.vkey}}">Edit</a></li>
						          <li><a href="{{_coreUrl}}/watch/{{video.vkey}}" target="_blank">Watch</a></li>
						          <li class="divider"></li>
						          <li><a href="{{urlBase}}&delete={{video.vkey}}">Delete</a></li>
                      {% for action in _triggers.user_videos_actions_top %}
                        {% if action is iterable %}
                          {{hook(action|keys|first, video[action|first])}}
                        {% else %}
                          {{hook(action, video.vkey)}}
                        {% endif %}
                      {% endfor %}
						        </ul>
						      </div>
	              </td>
	            </tr>
            {% endfor %}
          {% else %}
            <tr><div class="alert alert-warning">No results found</div></tr>
          {% endif %}
          </tbody>
        </table>

        <form name="bulk-actions" id="bulk-actions" method="post" action="">
					<input type="hidden" id="bulk-action" name="bulk-action">
					<input type="hidden" id="bulk-keys" name="bulk-keys">
				</form>

        <div class="text-center mt-5">
        	<div class="btn-group" role="group" aria-label="Basic example">
        		<a href="{{paginationBase}}&page={{pagination.first}}"><button type="button" class="btn btn-outline-primary">First</button></a>
            {% for page in pagination.pages %}
            	<a href="{{paginationBase}}&page={{page}}"><button type="button" class="btn btn{% if page != pagination.current %}-outline{% endif %}-primary">{{page}}</button></a>
            {% endfor %}
            <a href="{{paginationBase}}&page={{pagination.last}}"><button type="button" class="btn btn-outline-primary">Last</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<script type="text/javascript" src="{{_jsUrl}}/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#advanced-search').on('click', function() {
			$('#advanced-search-section').slideToggle();
		});

    $('.bulk-check-main').on('click', function() {
			if ($(this).attr('check') == 'selected') {
				var mode = 'unselected';
				$('.bulk-check-sub').removeClass('selected').addClass('unselected').attr('check', 'unselected');
				$(this).removeClass('selected').addClass('unselected').attr('check', 'unselected');
			} else {
				var mode = 'selected';
				$('.bulk-check-sub').removeClass('unselected').addClass('selected').attr('check', 'selected');
				$(this).removeClass('unselected').addClass('selected').attr('check', 'selected');
			}
	    
	    $('.bulk-check-sub').each(function(i, obj) {
	    	if (mode == 'selected') {
	    		if ($(obj).hasClass('selected')) {
	    			$(obj).trigger('click');
	    		}
	    	} else {
	    		if ($(obj).hasClass('unselected')) {
	    			$(obj).trigger('click');
	    		}
	    	}
      });
	  });

	  $('.bulk-actions').on('click', function(e) {
	  	e.preventDefault();
	  	var action = $(this).attr('action');
	  	$('#bulk-action').val(action);

	  	var allkeys = '';
			$('.selected').each(function(i, obj) {
				// bulk-keys
        var currentKey = $(obj).attr('videokey');
        if (currentKey != null) {
        	allkeys += currentKey + ',';
        }
      });

      $('#bulk-keys').val(allkeys);
      $('#bulk-actions').submit();
	  });
	});
</script>



        
{% endblock %}
