{% extends "layout.html" %}

{% block content %}
<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xs-12 col-sm-12">
          <div class="card mb-4 box-shadow">
            {% include 'bricks/player.html' %}
          </div>

          <h5 class="card-title">{{video.title}}</h5>
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#menu1">Share</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                  <div class="d-flex float-right">
                <span class="text-muted"><strong>Views</strong> {{video.views|number_format}}</span>
              </div>
              
                <strong class="text-muted">Description</strong>
                <div class="clearfix mt-2 mb-2">
                  {% if video.description %}
                    {{video.description|nl2br|raw }}
                  {% else %}
                    <p>No description available for this video</p>
                  {% endif %}
                </div>

                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-muted"><strong>Published</strong> {{formatDate(video.date)}} by {{video.uploader_name}}</span>
                  <span class="text-muted"><strong>Duration</strong> {{formatDuration(video.duration)}}</span>
                </div>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                  {% set videoUrl = _coreUrl ~ '/watch/' ~ video.vkey %}
                  <label>Social</label>
                  <div class="clearfix mb-2">
                    <a href="https://facebook.com/sharer/sharer.php?u={{videoUrl}}"><button type="button" class="btn btn-social-icon-text btn-facebook"><i class="mdi mdi-facebook"></i>Facebook</button></a>
                    <a href="https://twitter.com/home?status={{videoUrl}}"><button type="button" class="btn btn-social-icon-text btn-twitter"><i class="mdi mdi-twitter"></i>Twitter</button></a>
                    <a href="https://plus.google.com/share?url={{videoUrl}}"><button type="button" class="btn btn-social-icon-text btn-google"><i class="mdi mdi-google"></i>Google</button></a>
                    <a href="http://reddit.com/submit?url={{videoUrl|url_encode}}&title={$videoDetails.title}"><button type="button" class="btn btn-social-icon-text btn-reddit"><i class="mdi mdi-reddit"></i>Reddit</button></a>
                  </div>
                  <label>Embed Code</label>
                  <textarea class="form-control" contenteditable="true"><iframe src="{{_coreUrl}}/embed/?key={{video.vkey}}" width="640" height="360" frameborder="0" allowfullscreen controls></iframe></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="comments-section">
              <h6 class="card-title">Comments (<span class="totalComments">{{totalComments}}</span>)</h6>
              <div class="alert" id="comment-messages" style="display: none"></div>
              {% if _auth.username %}
                <form name="comments-section">
                  <textarea id="comment-box" class="form-control" resize placeholder="Say something inspiring {{_auth.username|title}}" rows="5"></textarea>
                  <button id="comment" video="{{video.vkey}}" username="{{_auth.username}}" class="btn btn-primary btn-gradient-primary float-right mt-1">Comment</button>
                </form>
              {% else %}
                <div class="alert alert-danger">Signin to comment</div>
              {% endif %}

              <div class="clearfix"></div>
              <table class="table table-bordered mt-3">
                <tbody class="all-comments">
                  {% for comment in comments %}
                    <tr>
                      <td><strong>{{comment.username|title}}</strong></td>
                      <td>{{comment.comment}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>

        <div class="right-side col-lg-4 col-xs-12 col-sm-12">
          
          <div class="mb-4 box-shadow">
            {% for video in related %}
              <div class="single-video row">
                <div class="col-lg-6 col-sm-6">
                  <div class="image-section">
                    <a href="{{_coreUrl}}/watch/{{video.vkey}}"><img class="thumbnail" src="{{video.thumbnail}}" width="100%" alt=""></a>
                    <div class="time">{{formatDuration(video.duration)}}</div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 video-info">
                  <a href="{{_coreUrl}}/watch/{{video.vkey}}">{{video.title}}</a>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">by {{video.uploader_name}}</small>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{video.views|number_format}} views</small>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}